---
import '../styles/global.css'

interface Props {
  description: string
  image?: string
  title: string
}

const { description, image = '/og-image.png', title } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, 'https://t-minus.fjdcr.dev')
---

<!doctype html>
<html class="dark scroll-smooth" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/favicon.webp" rel="icon" type="image/webp" />
    <meta content={Astro.generator} name="generator" />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta content={title} name="title" />
    <meta content={description} name="description" />
    <link href={canonicalURL} rel="canonical" />

    <!-- Open Graph / Facebook -->
    <meta content="website" property="og:type" />
    <meta content={Astro.url} property="og:url" />
    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content={new URL(image, Astro.url)} property="og:image" />

    <!-- Twitter -->
    <meta content="summary_large_image" property="twitter:card" />
    <meta content={Astro.url} property="twitter:url" />
    <meta content={title} property="twitter:title" />
    <meta content={description} property="twitter:description" />
    <meta content={new URL(image, Astro.url)} property="twitter:image" />

    <!-- Google Fonts: Inter & Space Grotesk -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Geist:wght@100..900&family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-background text-foreground selection:bg-secondary/30">
    <slot />
  </body>
</html>
